.productCard {
  background: #fff;
  display: grid;
  grid-template-columns: 1fr 2fr;
  border: 0.0625rem solid rgba(0, 0, 0, 0.05);
  border-radius: 0.3125rem;
  margin: 10px;
  box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.05);
  padding: 10px;
  height: 130px;
  -webkit-transition: -webkit-box-shadow .4s ease-in-out;
    transition: -webkit-box-shadow .4s ease-in-out;
    -o-transition: box-shadow .4s ease-in-out;
    transition: box-shadow .4s ease-in-out;
    transition: box-shadow .4s ease-in-out,-webkit-box-shadow .4s ease-in-out;
}

.price{
  display:flex;
}

.price h5 {
    margin: 24px 10px;
}

.productCard h5{
  text-decoration: line-through;
}

.price p{
  text-decoration: line-through;
  margin : 0 10px;
}

.productCard:hover {
  -webkit-transition: -webkit-box-shadow .4s ease-in-out;
    transition: -webkit-box-shadow .4s ease-in-out;
    -o-transition: box-shadow .4s ease-in-out;
    transition: box-shadow .4s ease-in-out;
    transition: box-shadow .4s ease-in-out,-webkit-box-shadow .4s ease-in-out;
    -webkit-box-shadow: 0 0.25rem 0.5rem 0 rgba(0,0,0,.12), 0 0.125rem 0.25rem 0 rgba(0,0,0,.08);
    box-shadow: 0 0.25rem 0.5rem 0 rgba(0,0,0,.12), 0 0.125rem 0.25rem 0 rgba(0,0,0,.08);
}

.productCard h3, h4, p {
    margin: 0;
    text-align: left;
}
