.dashboardHeader {
  display: grid;
  grid-template-columns: 1fr 5fr 1.5fr;
  background: brown;
  height: 70px;
  width: 100%;
  color: white;
  text-align: center;
}

/* 08083858294 */

.user {
  display: flex;
  justify-content: space-around;
}

.search {
  display: flex;
  justify-content: center;
  align-items: center;
}

.search input {
  width: 120px;
}

.search input,
button {
  padding: 5px 0px;
}

.search button {
  width: 60px;
  margin-top: 3px;
  color: white;
  background: blue;
}
