.Navbar {
  background-color: #94004f;
  display: flex;
}

.Navbar ul {
  display: flex;
  padding: 10px 15px;
  margin: 0;
}

.Navbar li {
  list-style: none;
  margin: 0px 15px;
}

.Navbar a {
  color: white;
  text-decoration: none;
}
